version: '3.8'

services:
  # --- Redis Service ---
  redis:
    image: redis:alpine
    container_name: ecom_redis
    restart: always
    ports:
      # Host Port : Container Port
      - "6380:6379"

  # --- MongoDB Service (Replica Set) ---
  mongo:
    image: mongo:latest
    container_name: ecom_mongo
    restart: always
    ports:
      # Host Port : Container Port
      - "27018:27017"
    # Starts mongo with replica set mode enabled
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    volumes:
      - mongo_data:/data/db
    healthcheck:
      # We verify health internally on the standard port 27017
      test: echo "try { rs.status() } catch (err) { rs.initiate({_id:'rs0', members:[{_id:0, host:'127.0.0.1:27017'}]}) }" | mongosh --port 27017 --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 5s

volumes:
  mongo_data: